<div>
<div class="card text-center">
    <div class="card-body">
        <h1 class="card-title">PERINATAL MOOD AND ANXIETY DISORDERS</h1>
        <h1 class="card-title"> THE MAIN DIAGNOSES</h1>

        <p>The term Perinatal Mood and Anxiety Disorders is used to encompass Depression in the pre-partum (before), antepartum</p>
        <p>(during) and postpartum (after) periods and affects approximately 1 in 7 women for each pregnancy experience. While</p>
        <p>"Postpartum Depression" is the most known, "postpartum" in fact means "after pregnancy." </p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                
                    <div class="container">
                    
                        <img src="../assets/Img/d11.jpg" class="image">
                      
                         <div class="containerr">
                       <div class="centeredd ">
                                         <h6>DEPRESSION </h6>
                                <p>One of several mental illnesses affecting 20% of mothers during and/or after pregnancy.</p>

                                <P>Learn More >></P>

                       </div>
                        </div>
                        <div class="overlay">
                            <div class="text">
                            
                                <h6>DEPRESSION </h6>
                                <p>One of several mental illnesses affecting 20% of mothers during and/or after pregnancy.</p>

                                <P>Learn More >></P>
                                
                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card h-100">
                    <div class="container">
                        <img src="../assets/Img/anxiety2.jpg" class="image"  height="700">
                         <div class="containerr">
                       <div class="centeredd ">
                                       <h6>ANXIETY</h6>
                                <p>Postpartum Anxiety affects more than 10% of pregnant and postpartum women. Racing, intrusive thoughts are common and can worsen if untreated.</p>

                                <p>Learn More >></p>

                       </div>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <h6>ANXIETY</h6>
                                <p>Postpartum Anxiety affects more than 10% of pregnant and postpartum women. Racing, intrusive thoughts are common and can worsen if untreated.</p>

                                <p>Learn More >></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col">
                <div class="card h-100">
                    <div class="container">
                        <img src="../assets/Img/ocd.jpg" alt="Avatar" class="image">
                         <div class="containerr">
                       <div class="centeredd ">
                                   <h6>POST-TRAUMATIC STRESS DISORDER (PTSD)</h6>
                                    <p>Resulting from real and perceived Perinatal trauma, PTSD is a debilitating illness affecting over 10% of women and partners</p>

                                    <p>Learn More >></p>

                       </div>
                        </div>
                        <div class="overlay">
                         <div class="text">

                                    <h6>POST-TRAUMATIC STRESS DISORDER (PTSD)</h6>
                                    <p>Resulting from real and perceived Perinatal trauma, PTSD is a debilitating illness affecting over 10% of women and partners</p>

                                    <p>Learn More >></p>
                                </div>
                                </div>
                    </div>
                </div>


                </div>
</div>
<div>
<div class="card text-center">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="container">
                        <img src="../assets/Img/depression3.jpg" class="image">
                        <div class="containerr">
                       <div class="centeredd ">
                                        <h6>DEPRESSION </h6>
                                <p>One of several mental illnesses affecting 20% of mothers during and/or after pregnancy.</p>

                                <P>Learn More >></P>

                       </div>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <h6>DEPRESSION </h6>
                                <p>One of several mental illnesses affecting 20% of mothers during and/or after pregnancy.</p>

                                <P>Learn More >></P>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card h-100">
                    <div class="container">
                        <img src="../assets/Img/pp1.jpg" class="image">
                         <div class="containerr">
                       <div class="centeredd ">
                                         <h6>POSTPARTUM PSYCHOSIS</h6>
                                        <p>The most rare diagnosis affecting 0.1% - 0.2% </p>
                                           <p> of postpartum women, usually within
                                              <p>   the first 2 weeks.</p>

                                        <p>Learn More >></p>

                       </div>
                        </div>

                        <div class="overlay">
                            <div class="text">
                                        <h6>POSTPARTUM PSYCHOSIS</h6>
                                        <p>The most rare diagnosis affecting 0.1% - 0.2% of postpartum women, usually within the first 2 weeks.</p>

                                        <p>Learn More >></p>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col">
                <div class="card h-100">
                 <div class="col">
                <div class="card h-100">
                    <div class="container">
                        <img src="../assets/Img/bpd5.jpg" alt="Avatar" class="image">
                        <div class="containerr">
                       <div class="centeredd ">
                             <h6>BIPOLAR (BPD) AND MOOD DISORDERS</h6>
                            <p>A Bipolar or Mood Disorder is characterized by periods of extreme highs (hypomania/mania) and lows (depression)</p>
                            <p>Learn More >></p></div>
                        </div>
                        <div class="overlay">
                            <div class="text content">
                                  <h6>BIPOLAR (BPD) AND MOOD DISORDERS</h6>
                                    <p>A Bipolar or Mood Disorder is characterized by periods of extreme highs (hypomania/mania) and lows (depression)</p>
                                     <p>Learn More >></p>
                            </div>
                        </div>
                    </div>
                </div>

                </div>


                </div>
                
