<div>
    <app-header></app-header>
</div>
<div>
    <app-watchvideo></app-watchvideo>
</div>
<div>
    <app-help></app-help>
</div>
<div>
    <app-statistics></app-statistics>
</div>
<div>
    <app-story></app-story>
</div>
<div>
    <app-disorders></app-disorders>
</div>
<div>
    <app-sponsors></app-sponsors>
</div>
<div>
    <app-quotes></app-quotes>
</div>
<div>
    <app-ragistration></app-ragistration>
</div>
<div>
    <app-gmap></app-gmap>
</div>
<div>
    <app-footer></app-footer>
</div>
