<div class="container">
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        
        <div class="carousel-inner">
        
         
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
          
                </div>
                <div class="col-sm-9">
                  <p>Women who suffer from depression during pregnancy and their 
infants are at risk for costly complications.&nbsp; Nearly $15 billion 
dollars is spent on childbirth-related hospitalizations
 and half of these costs are billed to private insurance."</p>
                  <small>-----NATIONAL BUSINESS GROUP ON HEALTH</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                 </div>
                <div class="col-sm-9">
                  <p>Women during their childbearing years account for the largest group of Americans with depression."</p>
                  <small>-----ABC</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  </div>
                <div class="col-sm-9">
                  <p>More women will suffer from postpartum depression and related illnesses in a year
 than the combined number of new cases for men and women of tuberculosis,
 leukemia, multiple sclerosis, Parkinson's disease, Alzheimer's disease, lupus and epilepsy."
</p>
                  <small>-----POSTPARTUM PROGRESS</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        <!-- Quote 4 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                 </div>
                <div class="col-sm-9">
                  <p>Despite the frequency of depression among new mothers, large numbers of affected individuals may 
not be identified as having a treatable condition, and only 15% obtain professional care."
</p>
                  <small>-----HIJ</small>
                </div>
              </div>
              <!-- Quote 5 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                 </div>
                <div class="col-sm-9">
                  <p>OB/GYNs need to be there to reassure mothers that whatever they're feeling—whatever 'bad' thoughts they're
 having—are normal. You're not a bad mom because you're dealing with mental health issues."</p>
                  <small>------KLM</small>
                </div>
              </div>
            </blockquote>
          </div>
            </blockquote>
          </div>
        
        
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div>