<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">LET’S MAKE A DIFFERENCE TOGETHER</h1>
    <p>Join us in giving healthcare providers the best tools and resources needed to to close the gap, shatter the </p>
    <p>stigma and raise the bar in improving the standard of care for all women, their families and their loved ones </p>
    <p>affected by Perinatal Mood and Anxiety Disorders. </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Email"> </div>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
    <input type="text" id="disabledTextInput" class="form-control" placeholder="First Name">

    </div>
  </div>
  <div class="card">
  
    <div class="card-body">
            <button type="submit" class="btn btn-success">Submit</button></div>
            
  </div>
</div>
    </div>
    </div>


    